.project {
    background-color: #ff3e3d;
    height: 200px;
    width: 300px;
    margin-right: 4em;
    border-radius: 10px;
}
.user {
    background-color: #00d0c2;
    height: 200px;
    width: 300px;
    margin-right: 4em;
    border-radius: 10px;
}

.report {
    background-color: #0267ff;
    height: 200px;
    width: 300px;
    margin-right: 4em;
    border-radius: 10px;
}

.card_text {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 24px;
}
.big_image {
    position: absolute;
    width: 120px;
    left: 150px;
    top: 30px;
    opacity: 0.3;
}
.small_image {
    position: absolute;
    width: 70px;
    margin-bottom: 5px;
    left: 20px;
    top: 10px;
}
